@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');

:root {
  --links-colour: black;
  --white-buttons: white;

  --white: white;
  --light-grey: #F1F1F1;
  --dark-grey: #d3d3d3;
  --darker-grey: #9B9B9B;
  --off-black-1: #100F15;
  --colour-scheme-1: #BB417C;
  --colour-scheme-2: #ED8E00;
  --colour-scheme-3: #C4302F;
  --colour-scheme-1-dark: #963463;

}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

/* Home page styling */
.intro {
  grid-column: 1 / 3;
  width: 65%;
  justify-self: flex-end;
}

.intro > img {
  width: 75%;
}

.appsody-graphic {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  width: 65%;
}

.stacks-section {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  width: 50%;
  justify-self: center;
}

.stack-cards-section {
  display: flex;
  flex-wrap: wrap;
}

.opensource-info {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  width: 50%;
  justify-self: center;
  text-align: center;
}

.opensource-logos {
  display: flex;
  justify-content: center;
}

.opensource-logos > img {
  margin: 0 2.5%;
}

.marketing-section {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  width: 60%;
  justify-self: center;
  text-align: center;
}

.marketing-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marketing-card {
  width: 28%;
  margin: 0 2.5%;
}

/* Docs page styling */

.doc-content {
  grid-column: 2 / 6;
  grid-row: 2 / 6;
}